$psdWidth: 750;
$darkColor: #333;
$lightColor: #999;
html,body{
   -webkit-overflow-scrolling: touch; 
}
.blank30{
	  height:rem(30);
	  width:100%;
	  display:block;
	  clear:both;
}

#loader{
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 9999;
        text-align: center;
        top:0;
        left: 0;
        background: rgba(0,0,0,0.7);       
            .spinner {
              width: rem(50);
              height: rem(30);
              transform:translate(-50%,-50%); 
              -webkit-transform:translate(-50%,-50%); 
              position: absolute;
              top:50%;
              left: 50%;
              font-size: rem(10);
              text-align: center;
            }
         
          .spinner > div {
            background-color: #ffe02e;
            height: 100%;
            width: rem(6);
            display: inline-block;
            margin: 0 rem(2);             
            -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
            animation: stretchdelay 1.2s infinite ease-in-out;
          }
           
          .spinner .rect2 {
            -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s;
          }
           
          .spinner .rect3 {
            -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
          }
           
          .spinner .rect4 {
            -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
          }
           
          .spinner .rect5 {
            -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
          }
           
          @-webkit-keyframes stretchdelay {
            0%, 40%, 100% { -webkit-transform: scaleY(0.4) } 
            20% { -webkit-transform: scaleY(1.0) }
          }
           
          @keyframes stretchdelay {
            0%, 40%, 100% {
              transform: scaleY(0.4);
              -webkit-transform: scaleY(0.4);
            }  20% {
              transform: scaleY(1.0);
              -webkit-transform: scaleY(1.0);
            }
          }    
}